body{
    background-color: rgb(211, 211, 211);
}
section{
    display: block;
    float: left;
    width: 245px;
}
aside{
    display: block;
    float: left;
    width: 800px;
    padding: 10px;
    background-color: red;
}
.imageSena{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 2px 2px rgb(0,0,0,0.5);
}